<ion-header>
    <ion-navbar mode="ios">
        <ion-buttons start>
            <button ion-button menuToggle icon-only>
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
        <ion-searchbar [(ngModel)]="txtbook" [formControl]="searchControl" (ionInput)="onSearchInput()" placeholder="Buscar libro"
        clearInput='true'></ion-searchbar>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>
  <ion-list>
  <ion-item *ngFor="let books of book; let i = index;">
        <p class="fon11" text-wrap>Pag: {{books.metadatas[0].id}}</p>
    <ion-thumbnail item-start>
      <img src="https://images-na.ssl-images-amazon.com/images/P/{{books.itemsbiblioteca[0].isbn}}.01.MZZZZZZZ.jpg">
    </ion-thumbnail>
    <h2 class="fon12" text-wrap> {{ books.title }}</h2>
    <p class="fon11" text-wrap><ion-icon name="person" ios="ios-person" md="md-person" style="font-size: 14px;"></ion-icon> {{ books.author }}</p>
    <span *ngFor="let itemsbook of books.itemsbiblioteca">
      <p class="fon11" text-wrap>Editor:  {{itemsbook.place}}, {{itemsbook.publishercode}} </p>
      <p class="fon11" text-wrap>ISBN:  {{itemsbook.isbn}}</p>
      <p class="fon11" text-wrap>Pag:  {{itemsbook.pages}}</p>
  
    </span>
    <button ion-button clear item-end (click)="goToDetailBook(books.biblionumber);">Detalle</button>
  </ion-item>
</ion-list>
</ion-content>

