.img { 
    width:255px; 
    height: 40px; }
.myBg{
    background-color: #2758AE  ; }
.new-title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    text-align: left;
    background-color: #EEF0F5;
    padding-left: 10px;
    padding-top: 7px;
    height: 30px;
}    