.img { 
    width:255px; 
    height: 40px; }
.myBg{
    background-color: #F5F6F8  !important; }
.myTextPrimary{
      color : #256EED   !important; }
.new-title{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    text-align: left;
    background-color: #DADDE3;
    padding-left: 10px;
    padding-top: 10px;
    height: 40px;
    text-transform: uppercase
}   
.user {
    img {
      display:  block;
      height: 150px;
      width: 150px;
      border-radius: 50%;
      margin: 0 auto;
    }
  
    h1 {
      color:      #333;
      margin:     10px 0 20px;
      text-align: center;
    }
  
  } 
  .h7{
    font-size: 13px;
  }
  .txtBlack{
    color: black;
    font-family:arial;
    font-weight: bold;
    font-size: 14px;
  }