page-actividades {
.date_activNum{
    font-size: 35px;
    font-weight: bold
}
.date_activDate{
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-transform: uppercase
}
.date_activPlace{
    color:#34495e;
    font-size: 12
}


}
